/node_modules
/resources/translations.json
/test.js
/notes.txt
/alloc.js
# /public/pages/caro.html
# /public/js/caro.js
# /public/css/caro.css
public/pages/map1.html
public/pages/map2.html
public/pages/map3.html