
input:focus {
  outline: none;
}

.bubble-title {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 10vh;
  text-shadow: 0px 0px 10px white;
  font-size: 50px;
  color: black;
  text-align: center;
  animation: 10s rotainbow 0s forwards; 
  z-index: 100;
  display:none;
}

.game-btn {
	position: relative;
  display: block;
  margin: 0 auto;
  left: 0%;
  right: 0%;
  width: 200px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  box-shadow: rgb(144, 144, 144) 0px 0px 16px 4px inset;
  background: black;
  color: white;
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 100;
  transition: 0.5s ease;
  cursor: pointer;
}

.game-btn:hover {
  box-shadow: rgb(0, 0, 0) 0px 0px 16px 4px inset;
}

.regenerate-btn {
  top: 20px;
}

.start-btn {
  top: 60vh;
  display: none;
}

.begin-btn { 

}

#the-canvas {
  position: absolute;
  display: none;
  top: 0px;
  width: 1200px;
  height: 600px;
}

.the-input {
  position: absolute;
  display: none;
  margin: 0 auto;
  left: 0%;
  right: 0%;
  bottom: 15%;
  width: 200px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  color: white;
  font-size: 24px;
  z-index: 50;
  transition: 0.5s ease;
}

.the-modal {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 25vh;
  left: 0%;
  right: 0%;
  width: 50vw;
  padding: 10px;
  color: white;
  opacity: 0;
  transition: 0.5s ease;
  background: black;
  text-align: center;
}

.modal-inner {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.modal-inner p {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.star {
  display: none;
}

.the-sling {
  border: 1px solid white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: 150px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
}

.the-bubble {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  text-align: center;
  z-index: 100;
}

.out-of-sling {
  top: 80vh;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.in-sling {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@keyframes rotainbow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@media (max-width: 800px) and (min-width: 200px) {
  .bubble-title {
    top: 5vh;
  }

  .modal-inner {
    width: 100%;
  }

  .modal-inner p {

  }

  .start-btn {
    top: 40vh;
  }
}