.all-targets {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 150px;
}

.bubble-target {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
/*  margin: 0px 20px;*/
  font-size: 24px;
  transition: 0.25s ease;
}

.the-sling {
  position: absolute;
  display: flex;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 50%;
  bottom: calc(5vh + 70px);
  left: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  transition: 0.25s ease;
}

.scope {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: 0.25s ease;
}

.active-scope {
  width: 20px;
  height: 20px;
}

.the-bubble {
  position: absolute;
  display: flex;
  top: 75vh;
  width: 50px;
  height: 50px;
  left: 50%;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  z-index: 101;
  transform: translate(-50%, 0); 
  align-items: center;
  justify-content: center;
/*  transition: 0.25s ease;*/
}

.in-sling {
  background: green;
  transition: 0.25s ease;
  position: relative;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate(0, 0);
}

.in-sling-1 {
  position: absolute;
  margin: 0 auto;
  background: green;
  left: 0;
  right: 0;
  top: 0;
  bottom: calc(50vh - 50px);
/*  transition: 0.25s ease;*/
}

@keyframes back {
  0% {
    background: none;
    transition: 0s ease; 
    top: 75vh;
  } 

  90% {
    background: none;
    transition: 0s ease; 
    top: 75vh;
  }

  100% {
    transition: 0s;
    transition-delay: 0s;
    opacity: 1;
    transform: translate(5px, 0);
    animation: null;
  }
}

.yes-line {
  position: absolute;
  left: 0px;
  height: 10px;
  transform-origin left;
  width: 100%;
  transform: translateX(-100%);
  float: left;
}

@keyframes stretch {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.yes-circle {
  position: absolute;
  display: flex;
  top: 100px;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  background: black;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: 0.5 ease-in-out opacity;
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popped-kanji {
  position: absolute;
  top: 35vh;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  opacity: 0;
  transition: 0.5 ease-in-out opacity;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 200;
}

@keyframes showKanji {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }  

  100% {
    opacity: 1;
    transform: scale(1);
    transition: 0.5s ease;
  }  
}

.color-1 {
  animation: 0s color-1-glow 0.5s ease infinite;
}

@keyframes color-1-glow {
  0% {
    box-shadow: 0px 0px 10px inset var(--color-1);
  }

  100% {
    box-shadow: 0px 0px 10px inset var(--color-1);
  }
}

.color-2 {
  animation: 0s color-2-glow 0.5s ease infinite;
}

@keyframes color-2-glow {
  0% {
    box-shadow: 0px 0px 10px inset var(--color-2);
  }

  100% {
    box-shadow: 0px 0px 10px inset var(--color-2);
  }
}

.color-3 {
  animation: 0s color-3-glow 0.5s ease infinite;
}

@keyframes color-3-glow {
  0% {
    box-shadow: 0px 0px 10px inset var(--color-3);
  }

  100% {
    box-shadow: 0px 0px 10px inset var(--color-3);
  }
}