.yamanote-line {
  position: absolute;
  display: block;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-top: 100px;
}

.yamanote-stations {
  position: absolute;
  display: block;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: -2px;
  bottom: 0px;
  margin-top: 100px;
  z-index: 12;
}

.station-title {
  position: relative;
  top: 150px;
  text-align: center;
  font-size: 50px;
  z-index: 0;
}

#oldy {
  display: none;
}

.train-btn {
  position: absolute;
  display: block;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: calc(50vh - 45px);
  z-index: 20;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.0);
  transition: 0.25s ease;
}

.train-btn:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1.0);
}


.selected-station {
  r: 10;
}